@font-face {
     font-family: GloberThin;
     src: url(GloberThin.otf);
}
@font-face {
     font-family: GloberRegular;
     src: url(GloberRegular.otf);
}
@font-face {
     font-family: GloberBook;
     src: url(GloberBook.otf);
}
@font-face {
     font-family: GloberSemibold;
     src: url(GloberSemibold.otf);
}
@font-face {
     font-family: GloberLight;
     src: url(GloberLight.otf);
}
@font-face {
     font-family: DaxlinePro-Regular;
     src: url(DaxlinePro-Regular.otf);
}
@font-face {
     font-family: DaxlinePro-Thin;
     src: url(DaxlinePro-Thin.otf);
}
@font-face {
     font-family: Kinescope;
     src: url(Kinescope.otf);
}
body{
margin: 0;
padding: 0;
font-family: GloberRegular;
background-color: #f0f0e8;
color:#3c301f;
white-space: nowrap;
}
a{
	text-decoration: none;
	display:block;
}
a:hover{
	text-decoration: none;
}
.head{
	width: 100%;
	min-width: calc(30% + 740px);
	background-color: #f5f5dc;
	box-shadow: inset 0px 2px 6px rgba(122,122,122,0.3);
	height: 120px;
}
.container{
	width: calc(30% + 740px);
	min-width: 1024px;
	display: flex;
	margin: 0 auto;
}
.logo{
	padding: 40px 0;
	margin-left: 5px;
}
.lex{
	font: 52px Kinescope;
	font-weight: 500;
	padding-bottom: 0;

}
.yk{
	margin-top: -7px;
	margin-left: -5px;
	font-size: 10px;
	letter-spacing: 1.3px;
	font-family: GloberThin;
}
.city
{
	width: 500px;
	margin-left: calc(65% - 500px);
}
.city img{
	padding-top: 15px;
	width: 500px;
	opacity: 0.85;
}
.offer {
	padding: 40px 0;
	margin-left: auto;
  	margin-right: 5px;
	

}
.phone {
	font-size: 18px;
	letter-spacing: 1.3px;
	}
.send{
	margin-left: -1px;
	padding-top: 5px;
	letter-spacing: 1.05px;
	font-family: GloberSemibold;
	color:#add19a;
	font-weight: 900;

}
.menu{
	width: 100%;
	min-width: calc(30% + 740px);
	background-color: #b6a48b;
	height: 40px;
}

.menu-container{
	display: flex;
	margin: 0 auto;
}
.button{
	padding: 10px 45px;
	font-size: 20px;
	white-space: nowrap;
	text-decoration: none;
	color: #3c301f;
}
	 
.button:hover{
 transition-property: text-decoration;
  transition-duration: 1s;
	text-decoration: underline;
	
}
.content{
	width: 80%;
	min-width: 1000px;
	height: 650px;
	background-color: #f5f5dc;
	margin: 40px auto;

}
.title{
	width: 100%;
	height: 45px;
	font-size: 30px;
	text-align: center;
	background-color: #b6a48b;
	color: white;
	letter-spacing: 5px;
	padding-top: 12px;
	padding-bottom: 0px;
	font-family: GloberBook;
	
}
.title1, .title2, .inner1, .inner2{
	width:50%;
	float: left;
}
.inner1{
	padding-right:150px;
}
.inner2{
	padding-left: 150px;
}
.inner{
	margin: 50px auto;
	width: calc(10% + 800px);
	font-family: GloberLight;
	white-space: normal;
	display:flex;
}
.about, .map {
	width: 90%
}
.inner4{
	padding-left: 20px;
	width: 25%;
}
#map{
	width: 75%;
	height: 500px;
	border: 2px solid #b6a48b;
	
}

.ground{
	color:white;
	width: 100%;
	min-width: calc(30% + 740px);
	height: 280px;
	background-color: #1b2f30;
}

.bot-logo{
	padding: 60px 0;
	margin-left: 80px;
	width: 200px;
}
.bot-lex{
	font: 60px Kinescope;
	font-weight: 500;
	padding-bottom: 0;
}
.bot-yk{
	margin-top: -7px;
	margin-left: -5px;
	font-size: 11px;
	letter-spacing: 2px;
	color: #fff;
	
	 
}
.mutano{
	margin-top: 80px;
	margin-left: -5px;
	font-size: 12px;
}
.mutano > span{
	font-family: DaxlinePro-Regular;
	font-weight: 600;
	letter-spacing: 1px;
}
.r-col{
	margin-left: auto;
  	margin-right: 80px;
	margin-top: 74px;

}
.r-col > div{
	text-align: right;
	padding-top: 20px;
	font-size: 15px;
}
.r-col > div:last-of-type{
	font-size: 13px;
}

/*ПРАЙС*/

.l-col{
	width:600px;
}
.r2-col{
	margin-left: auto;
	text-align: right;
}
/*УСЛУГИ*/
.inner-large{
	margin: 0;
	display: flex;
}	
.l3-col{
	
}
.services-item{
	width: 430px;
	border-top: 1px solid #f5f5dc;
	background-color: #b6a48b;
	white-space: normal;
}
.in-item{
	margin-left: 20px;
	margin-top: 5px;
	color: #fff;
	height: auto;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 4px;
	width: 90%;
}
.services-item-active{
	width:410px;
	white-space: normal;
	background-color: #f5f5dc;
	color: #b6a48b;
}
.in-item-active{
	margin-left: 20px;
	margin-top: 7px;
	height: 20px;
	border-top:1px solid #b6a48b;
	border-bottom: 1px solid #b6a48b;
	text-transform: uppercase;
	padding-top: 6px;
		height: auto;
	margin-bottom: 6px;
	width: 410px;
	color: #b6a48b;
	
}
.services{
	height: auto;
}
.r3-col{
	padding: 20px;
	margin: 30px;
	white-space: normal;
	text-align: left;
	font-size: 14px;
	line-height: 1.4;
	
}


.meteor {
	position: relative;
	margin-bottom: -70px;
	
	
}
.m1 {
	top: -20px;
	left: -20px;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #b6a48b, rgba(255,255,255,0));
	width: 200px;
}
.m2{
	top: 50px;
	left: -20px;
	width: 2px;
	height: 120px;
	background-image: -webkit-linear-gradient(top, #b6a48b, rgba(255,255,255,0));
}
.m3 {
	top: 20px;
	left: -20px;
	height: 2px;
	background-image: -webkit-linear-gradient(left, #b6a48b, rgba(255,255,255,0));
	width: 200px;
}
.m4 {
	top: -30px;
	left: -20px;
	width: 2px;
	height: 120px;
	background-image: -webkit-linear-gradient(bottom, #b6a48b, rgba(255,255,255,0));
}
.consist{
	position: relative;
	
}
.consist span,
.consist p{
	font-family:GloberSemibold;
}
.consist span{
	font-size: 14px;
}
.consist p{
	font-size: 16px;
}

/*ДОКУМЕНТЫ*/
.docs{
	height: auto;
}
.docs-item{
	width: 370px;
	border-top: 1px solid #f5f5dc;
	background-color: #b6a48b;
	white-space: normal;

}
.docs-item >.in-item{
	margin-left: 20px;
	margin-top: 5px;
	color: #fff;
	height: auto;
	text-transform: uppercase;
	padding-top: 6px;
	padding-bottom: 4px;
	width: 90%;

}
.docs-item-active{
	width:370px;
	white-space: normal;
	background-color: #f5f5dc;
	color: #b6a48b;
}
.docs-item-active >.in-item-active{
	height: auto;
	margin-bottom: 6px;
	width: 330px;
	color: #b6a48b;
}